# Your application name
# ---------------------
# Will be used in logging or other messages in your application.
APP_NAME=Borsch

# Environment
# -----------
# Development and debug environment.
APP_ENV=development
APP_DEBUG=true

# URL
# ---
# Your app root URL, end it with a slash (/).
APP_URL=http://0.0.0.0:8080/

# Application Key
# ---------------
# You can use this website to generate a strong key: https://randomkeygen.com .
# "CodeIgniter Encryption Keys" section should be good enough.
APP_KEY=

# Timezone
# --------
# Used by your application, usually in DateTimeInterface objects.
# Forced to UTC for convenience, but it also makes sense to change it to Europe/Paris if your app will only be used
# in France.
TIMEZONE=UTC

# Locales
# -------
# Used by translation services
LOCALE=en
FALLBACK_LOCALE=en

# Logging channel
# ---------------
# Name usually used in Monolog, see file config/container.php, at the ErrorHandlerMiddleware definition.
LOG_CHANNEL=app

# Database configuration
# ----------------------
# As a reminder, this skeleton does not come bundled with a DBMS integration.
# Feel free to have a look at these Borsch packages for a quick start, but feel free to integrate any solution you want.
# - https://github.com/borschphp/borsch-orm
# - https://github.com/borschphp/borsch-db
DB_DRIVER=Pdo_Mysql
DB_NAME=borsch
DB_USER=root
DB_PWD=root
DB_HOST=localhost
DB_PORT=3306
DB_CHARSET=utf8mb4
